# Ignore virtual environment
env/
venv/

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore environment variables file
.env

# Ignore Django migration files
**/migrations/*.py
**/migrations/*.pyc

# Ignore Documentation
source/
make.bat
Makefile